@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');

$purple: rgb(32, 26, 41);
$white: rgb(204, 204, 204);

* {
  box-sizing: border-box;
}

html {
  background-image: url('../images/cover.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  margin: 0;
  padding: 0;
  backdrop-filter: blur(8px);
  font-family: 'Poppins', sans-serif;
  background-color: transparentize($purple, .04);
  color: $white;
}
